# Application
APP_NAME=SmartInfra AI
APP_ENV=development
APP_DEBUG=True

# Backend
APP_HOST=0.0.0.0
APP_PORT=8000

# Database
DATABASE_URL=

# AI
GEMINI_API_KEY=

# Google Maps
GOOGLE_MAPS_API_KEY=

# Weather
IMD_API_KEY=

# Security
SECRET_KEY=

# MQTT (IoT)
MQTT_BROKER=
MQTT_PORT=1883